<h1>NH Bowling Info page</h1>
<h2>12 strikes and you are perfect</h2>
<p>Address: 65 Chapel St. New Haven, CT 06511</P>
  
<ul type="square">
  <li>Regular Hours</li>
  <li>Dates of Tournament</li>
  <li>Bar Menu</li>
</ul>
